.car_item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60px;
}

.heading {
  background: red;
  width: 100px;
  height: 20px;
}

.content {
  background: blue;
  width: 100%;
  height: 40px;
}
